<script defer src="/js/new.js"></script>


<form name="postForm" class="my-5" action="admin/new" method="POST" style="margin:0% 40% 0% 40%">
  <div class="mb-3">
    <label for="text" class="form-label">Введите логин</label>
    <input type="text" class="form-control" id="login" name="login">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Введите пароль</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

    
    
    <div class="form-check form-switch" style="margin-top:20px;">
  <input class="form-check-input" name="isAdmin" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Администратор</label>
  </div>

  <button type="submit" class="btn btn-primary"style="margin-top:60px;">Отправить</button>
</form>
<div id='error'></div>




