<div>
<a href="/clients/new"> Создай клиента</a>
</div>


<main>
{{#each allClient}}
<div>
<a href="/clients/{{this.id}}">{{this.name}}</a>
</div>
<div>
  <p>{{this.adress}}</p>
</div>
<div>
  <p>{{this.comments}}</p>
</div>
{{/each}}
</main>



