<h1>Создай заказы для {{user.name}}</h1>

<form action="/clients/basket/{{user.id}}" method="POST">
<input type="number" name="orderNumber" placeholder="orderNumber">
<input type="text" name="type" placeholder="type">
<input type="number" name="price" placeholder="price">
<input type="number" name="deliveryCost" placeholder="deliveryCost">
<input type="number" name="setupCost" placeholder="orderNumber">
<input type="text" name="comments" placeholder="orderNumber">
<input type="number" name="deliveryDate" placeholder="orderNumber">
<input type="number" name="setupDate" placeholder="orderNumber">
<input type="text" name="courierTeam" placeholder="orderNumber">
<input type="text" name="setupTeam" placeholder="orderNumber">
<input type="text" name="status" placeholder="orderNumber">
<button type="submit"> Создать заказ</button>
</form>
