<form action="/clients/{{user.id}}" id="changeForm" data-divid="{{user.id}}" method="PUT" name="clientUpdate">
  <input type="text" name="name" value="{{user.name}}">
  <input type="text" name="adress" value="{{user.adress}}">
  <input type="text" name="comments" >

  <button type="submit">Сохранить изменения</button>
</form>

{{!-- <script defer src="/js/edit.js"></script> --}}
