<form action="/clients/new" method="POST" name="clientCreate">
<input type="text" name="name" placeholder="ФИО">
<input type="text" name="adress" placeholder="Адрес проживания">
<input type="text" name="comments" placeholder="Комментарии к клиенту">
<button type="submit">Создать клиента</button>
</form>
