<form action="/new" method="POST" name="clientCreate">
<input type="text" name="name" placeholder="name">
<input type="text" name="adress" placeholder="adress">
<input type="text" name="comments" placeholder="comments">
<button type="submit">оооо ДА!</button>
</form>
