<script defer src="/js/login.js"></script>

<div class="my-5">
  <h1 class='container d-flex justify-content-center my-5'>Введите учётные данные</h1>
  <form name="logForm" class="my-5" action="/user" method="POST">
    <div class="mb-3">
      <input type="login" class="form-control" id="login" name="login" placeholder="Логин">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
  <div id='error'></div>


</div>
