<script defer src="/js/login.js"></script>

<body class="text-center">
  <form action="/user" name="logForm" method="post" class="form-signin" style="margin:0% 40% 0% 40%" >
    <img class="mb-4" src="https://banco.az/sites/default/files/news/crm.jpg" alt=""  height="100">
    <h1 class="h3 mb-3 font-weight-normal">Введите учётные данные</h1>

    <label for="inputLogin" class="sr-only" style="margin-top:20px">Логин</label>
     <input type="login" class="form-control" id="login" name="login" placeholder="Логин" >
    <label for="inputPassword" class="sr-only" style="margin-top:20px">Пароль</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" style="margin:20px"> Запомнить меня
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:20px">Войти</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</body>
